In [1]:
# import libraries

In [62]:
import pandas as pd
import numpy as np
import seaborn as sb

In [64]:
#iris_dataset = pd.read_csv("iris.csv")
#print(iris_dataset)
iris_dataset=sb.load_dataset("iris")
iris_dataset

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [42]:
iris_dataset.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [43]:
iris_dataset.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [44]:
iris_dataset.shape

(150, 5)

In [45]:
# CHecking null values 

iris_dataset.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [46]:
iris_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [47]:
iris_dataset.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [48]:
iris_dataset.drop_duplicates(subset = "species")

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
100           6.3          3.3           6.0          2.5   virginica

In [49]:
iris_dataset = iris_dataset.apply(pd.to_numeric, errors='coerce')

In [50]:
iris_dataset.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
species              NaN
dtype: float64

In [51]:
iris_dataset.median()

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
species          NaN
dtype: float64

In [52]:
iris_dataset.mode()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.0          3.0           1.5          0.2      NaN

In [53]:
iris_dataset.std()

sepal_length    0.828066
sepal_width     0.433594
petal_length    1.764420
petal_width     0.763161
species              NaN
dtype: float64

In [54]:
iris_dataset.groupby("species")["sepal_width"].mean()

Series([], Name: sepal_width, dtype: float64)

In [55]:
iris_dataset1 = iris_dataset.replace(to_replace=np.nan, value=69345)
iris_dataset1

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2  69345.0
1             4.9          3.0           1.4          0.2  69345.0
2             4.7          3.2           1.3          0.2  69345.0
3             4.6          3.1           1.5          0.2  69345.0
4             5.0          3.6           1.4          0.2  69345.0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3  69345.0
146           6.3          2.5           5.0          1.9  69345.0
147           6.5          3.0           5.2          2.0  69345.0
148           6.2          3.4           5.4          2.3  69345.0
149           5.9          3.0           5.1          1.8  69345.0

[150 rows x 5 columns]

In [56]:
iris_dataset1.shape

(150, 5)

In [57]:
iris_dataset1.median

<bound method NDFrame._add_numeric_operations.<locals>.median of      sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2  69345.0
1             4.9          3.0           1.4          0.2  69345.0
2             4.7          3.2           1.3          0.2  69345.0
3             4.6          3.1           1.5          0.2  69345.0
4             5.0          3.6           1.4          0.2  69345.0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3  69345.0
146           6.3          2.5           5.0          1.9  69345.0
147           6.5          3.0           5.2          2.0  69345.0
148           6.2          3.4           5.4          2.3  69345.0
149           5.9          3.0           5.1          1.8  69345.0

[150 rows x 5 columns]>

In [58]:
iris_dataset1.mode

<bound method DataFrame.mode of      sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2  69345.0
1             4.9          3.0           1.4          0.2  69345.0
2             4.7          3.2           1.3          0.2  69345.0
3             4.6          3.1           1.5          0.2  69345.0
4             5.0          3.6           1.4          0.2  69345.0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3  69345.0
146           6.3          2.5           5.0          1.9  69345.0
147           6.5          3.0           5.2          2.0  69345.0
148           6.2          3.4           5.4          2.3  69345.0
149           5.9          3.0           5.1          1.8  69345.0

[150 rows x 5 columns]>

In [59]:
iris_dataset["sepal_length"].mean()

5.843333333333334